input{
    border: 2px solid black;  
    border-radius: 5px;       
    padding: 8px;
    margin: 5px 0;           
    width: 90%;               
}
button{
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;  
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #0099ec;
    color: white;
    font-weight: bold;
}
h3{
    text-align: center; 
    color: #fffcfc;    
}