.Form{
    background-color: rgb(20, 20, 19);
    border: 2px solid #333;    
    padding: 25px;             
    border-radius: 10px;       
    width: 500px;              
    margin: 20px auto;  
    text-align: center; 
}
.Form h1{
    text-align: center; 
    color: #ffffff;    
}