.Lista{
    background-color: rgb(255, 255, 255); 
    border: 2px solid #333;               
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: left;                     
}